<%= form_with model: pokedex do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:name).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :base_health_point, class: "form-label" %>
    <%= form.text_field :base_health_point, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:base_health_point).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>

  </div>

  <div class="mb-3">
    <%= form.label :base_attack, class: "form-label" %>
    <%= form.text_field :base_attack, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:base_attack).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :base_defence, class: "form-label" %>
    <%= form.text_field :base_defence, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:base_defence).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :base_speed, class: "form-label" %>
    <%= form.text_field :base_speed, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:base_speed).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :element_type, class: "form-label" %>
    <%= form.select(:element_type, Pokedex::ELEMENT_TYPES.map{ |type| [type.titleize, type] }, {}, class: "form-select") %>
    <% pokedex.errors.full_messages_for(:element_type).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
    <% pokedex.errors.full_messages_for(:image_url).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
