<div class="d-flex flex-column min-vh-100">
  <%= render "layouts/navbar" %>

  <div class="container mt-3">
    <div class="d-flex justify-content-between">
      <div>
        <h1>List of all Pokedex</h1>
      </div>
      <div class="my-auto">
        <%= link_to "Add Pokedex", new_pokedex_path, class: "btn btn-primary" %>
      </div>
    </div>
    <br>
    <% flash.each do |message| %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations! </strong><%= message[1] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="d-flex justify-content-end">
      <form class="d-flex" role="search" action="<%= pokedexes_path %>">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="<%= @search_name.present? ? @search_name : "" %>">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <br>
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Image</th>
          <th>Base Health Point</th>
          <th>Base Attack</th>
          <th>Base Defence</th>
          <th>Base Speed</th>
          <th>Element Type</th>
        </tr>
      </thead>
      <tbody>
        <% count = ((@current_page - 1) * 25) + 1 %>
        <% @pokedexes.each do |pokedex| %>
          <tr>
            <td><%= count %></td>
            <td><%= link_to pokedex.name.titleize, pokedex %></td>
            <td style="width: 200px"><%= image_tag(pokedex.image_url, style: "max-width: 50%") %></td>
            <td><%= pokedex.base_health_point %></td>
            <td><%= pokedex.base_attack %></td>
            <td><%= pokedex.base_defence %></td>
            <td><%= pokedex.base_speed %></td>
            <td><%= pokedex.element_type.titleize %></td>
          </tr>
          <% count += 1 %>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex my-5">
      <div class="ms-auto">
        <%= paginate @pokedexes %>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>
