<div class="d-flex flex-column min-vh-100">
  <%= render "layouts/navbar" %>

  <div class="container mt-3">
    <% flash.each do |message| %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations! </strong><%= message[1] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <h1>Pokedex Detail</h1>
    <div class="mt-3 d-flex justify-content-end">
      <%= link_to "Edit", edit_pokedex_path(@pokedex), class: "btn btn-primary" %>
      &nbsp
      &nbsp
      <%= link_to "Delete", pokedex_path(@pokedex), class: "btn btn-danger", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
    <div class="mt-3 d-flex justify-content-center">
      <div class="me-5">
        <%= image_tag(@pokedex.image_url, class: "img-thumbnail")%>
      </div>
      <div class="ms-5">
        <table class="table align-middle">
          <tbody>
            <tr>
              <td colspan="2">
                <span>
                  <h2><%= @pokedex.name.titleize %></h2>
                </span>
              </td>
            </tr>
            <tr>
              <td style="min-width: 300px" class="h5">Base Health Point</td>
              <td><%= @pokedex.base_health_point %></td>
            </tr>
            <tr>
              <td class="h5">Base Attack</td>
              <td><%= @pokedex.base_attack %></td>
            </tr>
            <tr>
              <td class="h5">Base Defence</td>
              <td><%= @pokedex.base_defence %></td>
            </tr>
            <tr>
              <td class="h5">Base Speed</td>
              <td><%= @pokedex.base_speed %></td>
            </tr>
            <tr>
              <td class="h5">Element Type</td>
              <td><%= @pokedex.element_type.titleize %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>
