<div class="d-flex flex-column min-vh-100">
  <%= render "layouts/navbar" %>

  <div class="container mt-3">
    <div class="d-flex justify-content-between">
      <div>
        <h1>List of all Skill</h1>
      </div>
      <div class="my-auto">
        <%= link_to "Add Skill", new_skill_path, class: "btn btn-primary" %>
      </div>
    </div>
    <br>
    <% flash.each do |message| %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations! </strong><%= message[1] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="d-flex justify-content-end">
      <form class="d-flex" role="search" action="<%= skills_path %>">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="<%= @search_name.present? ? @search_name : "" %>">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <br>
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Power</th>
          <th>Max PP</th>
          <th>Element Type</th>
        </tr>
      </thead>
      <tbody>
        <% count = ((@current_page - 1) * 25) + 1 %>
        <% @skills.each do |skill| %>
          <tr>
            <td><%= count %></td>
            <td><%= link_to skill.name.titleize, skill %></td>
            <td><%= skill.power %></td>
            <td><%= skill.max_pp %></td>
            <td><%= skill.element_type.titleize %></td>
          </tr>
          <% count += 1 %>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex my-5">
      <div class="ms-auto">
        <%= paginate @skills %>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>
