<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <div class="container d-flex justify-content-between">
    <div>
      <a class="navbar-brand" href="#">
        <%= image_tag("pokemon-logo.png", alt: "Pokemon Logo", class: "d-inline-block align-text-top", size: "50x24") %>
        - Game
      </a>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Battle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pokedex</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Homes#index</h1>
  <p>Find me in app/views/homes/index.html.erb</p>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <%= image_tag("pokemon-logo.png", alt: "Pokemon Logo", class: "d-inline-block align-text-top", size: "50x24") %>
      </a>
      <span class="text-muted">- Developed by Krisna.WAR</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("twitter.svg", size: "24") %></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("instagram.svg", size: "24") %></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("facebook.svg", size: "24") %></a></li>
    </ul>
  </footer>
</div>
