<%= form_with model: pokemon do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% pokemon.errors.full_messages_for(:name).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :pokedex_id, class: "form-label" %>
    <%= form.select(:pokedex_id, Pokedex.order(:name).all.map{ |row| [row.name.titleize, row.id] }, {}, class: "form-select") %>
    <% pokemon.errors.full_messages_for(:pokedex_id).each do |message| %>
      &nbsp<small style="color: red"><%= message %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
